  /* Agrega la fuente deseada importándola desde Google Fonts u otro recurso */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
  body {
      font-family: 'Roboto', sans-serif; /* Cambia la fuente para todo el documento */
    }
  
    /* diseño login button */
  
    .login-button {
      display: flex;
      align-items: center;
    }
  
    .login-button a{
      color: white;
      text-decoration: none;
    }
  
    .login-button a:hover{
      text-decoration: none;
    }
    
    .login-button button {
      background-color: #003f5c;
      color: rgb(255, 255, 255);
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      padding: 10px;
      margin-left: 10px;
      cursor: pointer;
      text-decoration: none;
    }
    
    .login-button button:hover {
      background-color: #ff7043;
      color: #ffffff;
      text-decoration: none;
    }
    
    /* TEXTOS - TITULOS */
    
    h1 {
      font-size: 28px;
      margin-bottom: 20px;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-transform: uppercase;
    }
  
    /* FONDO NAVBAR */
  
    .bgnavbar{
      background-color: #ffffff;
    }
  
   /* Estilos plan ejer. */
  
  .exercise-plan {
    background-image: url(imagenes/i.jpg);
      padding: 20px;
      border: 1px solid #cccccc;
      border-radius: 10px;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif;
    }
    
    .exercise-plan h2 {
      font-size: 28px;
      margin-bottom: 15px;
      color: #333;
      text-transform: uppercase;
      text-align: center;
    }
    
    .exercise-day {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
    }
  
    .exercise-day-inf {
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 10px;
      margin-top: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
    }
    
    .exercise-day-inf h3 {
      font-size: 22px;
      margin-bottom: 10px;
      text-align: center;
      color: black;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
    }
    .inf{
      color: black;
      text-align: left;
    }
    
    .exercise-list {
      list-style-type: none;
      padding-left: 0;
      margin-top: 10px;
    }
    
    .exercise-list li {
      font-size: 18px;
      margin-bottom: 5px;
      color: #3f3f3f;
      font-family: 'Roboto', sans-serif;
    }
    
    /* .diet-guidelines {
      font-size: 18px;
      line-height: 1.6;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif;
    } */
  
    /* Estilos para los contenedores de rutinas */
  
    @media screen and (max-width: 480px) {
      .grid-container {
        display: flex;
        /* flex-direction: column; */
      }
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 40px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .grid-container h5{
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
    }
    .grid-container iframe{
      max-width: 900px;
      width: 360px;
      height: 215px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      max-width: 900px;
      font-size: 30px;
      text-align: center;
      margin-top: 60px;
    }
  
     /* Estilos para el footer */
  
     .pie{
      width: 100%;
      background-color: #003f5c;
      padding: 20px;
      margin-top: 20px;
    }
    
    footer p {
      color: #fff;
      margin: 0;
    }